{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in</title>
</head>

<style>
/* إضافة أنماط CSS الخاصة بك هنا */

</style>

<body>

        <div class="form-container sign-in-container">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <img src="{% static 'dist/img/chat_icon.gif' %}" style="height:200px;margin-top:-70px;" alt="">
                <h1>Sign In</h1><br>
                <input type="text" placeholder="Username" name="username" />
                <input type="password" placeholder="Password" name="password" />
                <a href="#">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <span class="wave" style="margin-top:-5vw;font-size:5.5em;">👋</span><br><br>
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <span class="wave" style="margin-top:-5vw;font-size:5.5em;">👋</span><br><br>
                    <h1>Hey, There!</h1>
                    <p><b>Just SignUp and Start Chatting with Friends </b></p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
    </script>

</body>
</html>
